# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
pubspec.lock

# Android/iOS generated local files
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/

# Editors and OS
.idea/
.vscode/
*.iml
.DS_Store
